# these are ignored.
./csv_files/
./ez_timestep_csvs/
./hx_timestep_csvs/
./hy_timestep_csvs/
./build/
build/
./graph/
./memos/
./mp4/
./pngs/
./about_fft/
./fdtd1d_gaussian/build/
./fdtd1d_sinwave/build/

*.yaml
*.cmake
*.log
*.ninja
*.png
*.mp4
*.txt
*.json
*.csv
*.d
*.o
*.a
*.so
.ninja_deps
.ninja_log
main

!CMakeLists.txt
